.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Latest Posts
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Blog", blog_posts_path
                %span.divider /
            %li.active= @blog_post.title


=render layout: "blog_posts/layout" do
    =render layout: "blog_posts/post_layout", locals: {blog_post: @blog_post} do
        =raw @blog_post.end_content

        #disqus_thread.margin-top-20
        :javascript
            var disqus_shortname = 'meducation-company';
            var disqus_identifier = '#{blog_post_path(@blog_post)}';
            var disqus_title = '#{@blog_post.title}';
            var disqus_url = 'http://company.meducation.net#{blog_post_path(@blog_post)}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
