%section
    .container
        %h2 Community Manager
        %p If you had this job, you might describe it as:

        %p "My name is ______ and I am in charge of building and supporting the Meducation community.

        %p Meducation is made up of hundreds of smaller communities, such as universities, and groups of doctors in the same speciality and location.

        %p My job is to support these smaller communities, and has three main areas: 1) I find a representative in each of these communities and work with them to understand how they want Meducation to work for them. I care about people and work hard to make sure these representatives feel supported. 2) I work with our development team to make sure that Meducation has the features that our community want, and am instrimental in guiding new ideas and sections on the website. 3) I work with the marketing team, and help them shape their advertising campaigns correctly for our community. I understand what each community gets from Meducation, so I am a crucial part of decision around marketting correctly.

        %p My role is varied, interesting, and involves me working closely in a team. I have lots of areas of responsibility but lots of people around to support me who help me achieve success."

