.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Community Manager

.container
    .row-fluid
        .span9
            .row-fluid
                .headline
                    %h3 We need a Community Manager!
                %p We're building the biggest online community of worldwide medics and we need an enthusiastic community manager to come and make that possible. Our community is made up of 18yr old students to 65yr old senior doctors, so it's important to be able to articulate Meducation to a variety of different people.
                %p We grew at 10% per week last year. We want someone who can keep that trend going. We want to grow from 30,000 to 3,000,000 members over the next five years, with 800,000 active community members by the end of 2017.
                %p This job has four main roles:
                %ol
                    %li Be the voice of Meduation online, managing our social media, writing blog posts, and being the link between our members and our team.
                    %li Help guide and facilitate our student and doctor representatives as they spread the word in their communities about Meducation.
                    %li Understand what our community want Meducation to do for them and feed this back to the rest of the team.
                    %li Use your knowledge of our community to advise marketers as they put advertising campaigns together.

                %p Working for a startup like Meducation is a bit different to working for a normal company. You'll be part of a close team sharing a journey together. You'll be working on loads of different things in areas you probably have no expertise in. It's all about getting stuck in, learning new skills, and working hard. It's more flexible, more fun, and more chaotic, but it's also less stable and you need to be more committed to what you're doing. 
                %p The role will be varied, interesting, and involve working closely in a team. You will have lots of areas of responsibility but lots of people around to support and help you.

                %h3 What specific skills are we looking for?
                %p If you're right for this role, you will: 
                %ul
                    %li Love working with people, and care about communities.
                    %li Be able to handle balancing a variety of different projects and tasks.
                    %li Be highly motivated and be able to take control of your own time and responsibilities.
                    %li Want to work with a startup and want to learn new skills.
                    %li 
                        %strong "Get"
                        social media.
                    %li Have excellent copywriting skills and enjoy blogging.

                %p It will also help if you have:
                %ul
                    %li Worked as a community manager before.
                    %li Some experience in marketing or growth hacking.
                    %li Worked in an agile team.

                %p We are based in Birmingham, UK and are looking for someone who is able to be in the office for at least 2 days per week.

                %h3 What do you get in return?
                %p It's really important for us that our team is well supported and rewarded for their work. Working for a startup is hard work and there's the risk that the company won't succeed, and we feel that with that risk should come reward.
                %p We will pay well, give you lots of freedom, and give you a 10% rise for every year you're with us. If you demonstrate real value to the team, we will also offer you share options in the company.
                %p 
                    We have various 
                    =link_to "work principles", job_principles_path
                    that apply to everyone in our team.

                %h3 Up for the challenge?
                %p If you're interested in working with Meducation let's have a coffee and a chat!
                %p= link_to "Email Jeremy »", "mailto:jeremy@meducation.net", class: 'btn-u btn-u-large'
        .span3 
            =render "jobs/sidebar"
