.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Community Manager

.container
    .row-fluid
        .span9
            .headline
                %h3 We are Hiring a Community Manager!
            %p We are building the biggest online community of medics worldwide. We aim to have to two million people register with us over the next five years, ranging from students to senior doctors. Understanding and listening to our community, and reacting to its input is very important to us. To help with this we are looking for an enthusiastic community manager to join our team.
            %p This job has four main roles:
            %ol
                %li Be the voice of Meduation online, managing our social media, writing blog posts, and being the link between our members and our team
                %li Help guide and facilitate our student and doctor representatives as they spread the word in their communities about Meducation
                %li Understand what our community want Meducation to do for them and feed this back to the rest of the team
                %li Use your knowledge of our community to advise marketers as they put advertising campaigns together

            =jobs_startup_blurb

            %h3 What specific skills are we looking for?
            %p If you're right for this role, you will: 
            %ul
                %li Love working with people, and care about communities
                %li Have the ability to use social media to engage with online communities 
                %li Have excellent copywriting skills and enjoy blogging.
                %li Be able to balance a variety of different projects and tasks
                %li Be highly motivated and be able to take control of your own time and responsibilities
                %li Want to work with a startup and want to learn new skills

            %p It will also help if you have:
            %ul
                %li Worked as a community manager before
                %li Some experience in marketing or growth hacking
                %li Worked in an agile team

            =jobs_apply_blurb
        .span3 
            =render "jobs/sidebar"
