.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Community Manager

.container
    .row-fluid
        .span9
            .headline
                %h3 We are Hiring a Content Manager

            %p We are revolutionsing the way people use educational material to learn. By working with publishers, our own authors, and our community we are bringing hundreds of thousands of resources together into our innovative educational learning platform. To help us achieve this we are hiring a content manager.
            %p This job has five main roles:
            %ul
                %li Work with our medical co-ordinator and authors to manage the creation of new content
                %li Find people who create resources and encourage them to use Meducation to promote them
                %li Organise and manage the content that is contributed on to Meducation
                %li Work with our marketer and community manager to highlight Meducation's best content
                %li Understand the needs of people creating resources and feed this back to our development team

            =jobs_startup_blurb

            %h3 What specific skills are we looking for?
            %p If you're right for this role, you will: 
            %ul
                %li Be interested or experienced in the creation of educational resources
                %li Be able to balance a variety of different projects and tasks
                %li Be highly motivated and be able to take control of your own time and responsibilities
                %li Want to work with a startup and want to learn new skills

            %p It will also help if you have:
            %ul
                %li Some medical knowledge or experience
                %li Worked in an agile team

            =jobs_apply_blurb

        .span3 
            =render "jobs/sidebar"
