%section
    .container
        %h2 Content Manager
        %p If you had this job, you might describe it as:

        %p "My name is ______ and I am in charge of finding and managing content for Meducation.

        %p My role is to help encourage medical professionals from all around the world to share content on Meducation, and to find innovative ways for both them and publishers to display that content to our community.

        %p My job has four main areas: 1) I work with our community of medical profesionals around the world to encourage them to upload and share content on Meducation. I understand the sorts of content doctors and students want to create and work with our development team to create new ways for people to contribute. 2) I work with publishers to take their content and put it on Meducation. I understand both the needs and concerns of publishers, and the desires of our community, and I work with our development team to find innovative ways to create and publish digital content. 3) I work with Meducation's in-house authors to understand the content they want to build, and liase with our developers to help them make the tools that our authors want to use. 4) I work with our marketing team, highlighting the best content for them to publicise.

        %p My role is varied, interesting, and involves me working closely in a team. I have lots of areas of responsibility but lots of people around to support me who help me achieve success."
