.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active Job Opportunities

.container
    .row-fluid
        .span9
            .row-fluid
                .headline
                    %h3 We're Hiring
                %p After two years of building Meducation with just the two of us, we are finally at a point where we can hire people to come and work with us and take Meducation to its full potential!  We are looking for seven talented individuals who want to revolutionse medical education with us. 

                .headline
                    %h3 Current Opportunities 

                %p These are our current job opportunities:
                %ul
                    -@jobs.each do |job, url|
                        %li= link_to job, url
                %p 
                    If your specific skills aren't listed above but think you'd make a great addition to the Meducation team,
                    = link_to "email us", "mailto:hello@meducation.net"
                    anyway!

                .headline
                    %h3 Our Principles
                %p The whole ethos of our vision is around people, and this is represented in the way we want to develop our company. We want to build a team who trust and respect each other, who enjoy each others' company and who love working together. We believe that a happy team is a productive team and we know that people are individuals and work in their own ways. 
                %p= link_to "Read About Our Principles »", job_principles_path, class: 'btn-u btn-u-large'
        .span3 
            =render "jobs/sidebar"
