.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active JavaScript Developer

.container
    .row-fluid
        .span9
            .headline
                %h3 We are Hiring a JavaScript Developer
            %p We are building an innovative social education platform that will be used by millions of medics. Meducation's frontend is currently being converted into AngularJS SPA applications. We are looking for an experienced JavaScript developer to help with this transition and continue to build the application as it develops. You will need to have excellent JavaScript programming skills and be experienced and comfortable with writing comprehensive test coverage. 
            =jobs_startup_blurb

            %h3 What specific skills are we looking for?
            %p If you're right for this role, you will: 
            %ul
                %li Have 3+ years of JavaScript development experience (either professionally or in demonstrable personal projects)
                %li Have experience of JavaScript testing.
                %li Enjoy working (or at least dabbling) with server side technologies
                %li Be able to balance a variety of different projects and tasks
                %li Be highly motivated and be able to take control of your own time and responsibilities
                %li Want to work with a startup and want to learn new skills

            %p It will also help if you have:
            %ul
                %li A computer science (or related) degree
                %li Experience with AnglularJS
                %li Experience with CoffeeScript
                %li Experience with Ruby on Rails
                %li A passion for open source
                %li Worked in an agile team

            =jobs_apply_blurb
        .span3 
            =render "jobs/sidebar"


