.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Working at Meducation
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Working at Meducation

.container
    .row-fluid
        .span9
            .headline
                %h3 Our Principles
            .row-fluid
                .span8
                    %p At Meducation, we believe that the key to our success is building a team who trust and respect each other, who enjoy each others' company and who love working together.  We know that each person is an individual and works in their own way, and its important to us that we respect and encourage that. We want our team to have the freedom to manage their own time and tasks, while getting stuck in to help each other build an amazing platform that has the potential to change the world.
                    %p 
                        Taking advice from successful companies like 
                        =succeed(',') do
                            =link_to "Github", "http://zachholman.com/posts/how-github-works/", title: "How Github Works"
                        =succeed(',') do
                            =link_to "Valve", "http://www.valvesoftware.com/company/Valve_Handbook_LowRes.pdf", title: "The Valve Handbook"
                        =succeed(', and ') do
                            =link_to "37signals", "http://www.inc.com/magazine/20110401/jason-fried-why-i-run-a-flat-company.html", title: "Why I Run a Flat Company"
                        =succeed(',') do
                            =link_to "Medium", "http://firstround.com/article/How-Medium-is-building-a-new-kind-of-company-with-no-managers#", title: "How Medium is building a new kind of company with no managers"
                        here are some of our principles with regards to work.
                            
                .span4= image_tag('office.jpg')
            %blockquote.hero.margin-top-20
                %p If we start treating people like people, and not workhorses, we can build work lives that make us better off and our world a little bit better.
                %small Dan Pink - The Surprising Truth About What Motivates Us.

            .headline
                %h3 Self-Direction
            .row-fluid
                .span4
                    .flex-video.widescreen
                        <iframe src="//www.youtube.com/embed/TABgBBuxP9k?rel=0" frameborder="0" allowfullscreen></iframe>
                .span8
                    %p 
                        We want our team to have the freedom to work where they want, when they want, but we also think that working together allows for serendipitous creativity, a team bond, and shared highs and lows. We try to balance these paradoxical traits by being 
                        =link_to "very relaxed about office hours", "http://zachholman.com/posts/how-github-works-hours/"
                        and location, but by making sure we have some time each week where our team work together to work in one place.
                    %p We also believe that having control of your own tasks and your own role is the most satisfying and inspiring way to work. We are therefore building a team of highly-motivated free-thinkers who trust each other to deliver and support each other.

            .headline
                %h3 The Right Motivation
            .row-fluid
                .span8
                    %p Smart people like interesting challenges. We believe that learning new concepts, theories, and technologies, and going on to master them is the most satisfying way to work. Meducation is full of hard problems to solve, both technologically and socially, but we are going to solve them.
                    %p We also agree with Dan Pink (see video) that motivating by money doesn't make sense. We want our team to be paid fairly, without the pressure of performance-related bonuses. Work because you're passionate, not because you have to.
                .span4
                    .flex-video.widescreen
                        <iframe src="//www.youtube.com/embed/u6XAPnuFjJc?rel=0" frameborder="0" allowfullscreen></iframe>

            .headline
                %h3 Helping The Bigger Community

            .span3.pull-right
                %blockquote
                    %p If i have seen further, it is by standing on the shoulders of giants.
                    %small Sir Issac Newton
            %p Meducation is all about community and this is represented in the way we work. Our platform is built on open-source software, and much of it will be contributed back through open source. We encourage our team to write articles and speak at conferences about the things we learn, so that others can benefit from both our successes and our failures.
            %p We also encourage our team to have their own ideas and projects outside of Meducation and we support each other in them. Life is better when it's varied.
            
        -#
            .row-fluid.servive-block
                .span4
                    %h4 Work when's right for you
                    %p
                        %i.icon-time
                    %p We don't have office hours because we know that different people work best at different times. Rise with the sun, or rise with the sunset? We respect your choice.
                .span4
                    %h4 Work where's best for you
                    %p
                        %i.icon-home
                    %p Office, home, coffee-shop? Your choice. We hope you'll want to hang out with us in the office reguarly, but we don't work as well if we're in the same place each day, and so we understand that freedom.
                .span4
                    %h4 Be paid well and fairly
                    %p
                        %i.icon-gbp
                        %p We should all feel that we are paid what we deserve. We want to pay fairly and don't believe in performance-related pay, which just increases pressure &amp; stress. 
            .row-fluid.servive-block
                .span4
                    %h4 Be challenged and learn
                    %p
                        %i.icon-puzzle-piece
                .span4
                    %h4 Create your own projects.
                    %p
                        %i.icon-sitemap
                .span4
                    %h4 Contribute to open source
                    %p
                        %i.icon-cloud
                    %p We're really passionate about open source and intend to release 90% of our code under open source licences. If you're a developer, you'll be working with us to build libraries that power the internet, not just Meducation!

        .span3 
            =render "jobs/sidebar"
