.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Principles of Working at Meduation
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Job Principles

.container
    .row-fluid
        .span9
            .headline
                %h3 Our Principles
            %p The whole ethos of our vision is around people, and this is represented in the way we want to develop our company. We want to build a team who trust and respect each other, who enjoy each others' company and who love working together. We believe that a happy team is a productive team and we know that people are individuals and work in their own ways. 
            %p Taking a lead from successful companies like Github, Steam, 37signals and Medium, here are some of our principles with regards to work.
            .row-fluid.servive-block
                .span4
                    %h4 Work when's right for you
                    %p
                        %i.icon-time
                    %p We don't have office hours because we know that different people work best at different times. Rise with the sun, or rise with the sunset? We respect your choice.
                .span4
                    %h4 Work where's best for you
                    %p
                        %i.icon-home
                    %p Office, home, coffee-shop? Your choice. We hope you'll want to hang out with us in the office reguarly, but we don't work as well if we're in the same place each day, and so we understand that freedom.
                .span4
                    %h4 Be paid well and fairly
                    %p
                        %i.icon-gbp
                        %p We should all feel that we are paid what we deserve. We want to pay fairly and don't believe in performance-related pay, which just increases pressure &amp; stress. 
            .row-fluid.servive-block
                .span4
                    %h4 Be challenged and learn
                    %p
                        %i.icon-puzzle-piece
                    %p In our experience smart people like interesting challenges. The scale and complexity of what we want to build is exciting in itself, and we have loads of hard problems to solve, which others have failed to do, both on the tech and social sides.
                .span4
                    %h4 Create your own projects.
                    %p
                        %i.icon-sitemap
                    %p Life is boring if it's spent on just one thing. If you have ideas and concepts you want to explore, we want to support you in that and ue our knowledge and expertise to help you build your future!
                .span4
                    %h4 Contribute to open source
                    %p
                        %i.icon-cloud
                    %p We're really passionate about open source and intend to release 90% of our code under open source licences. If you're a developer, you'll be working with us to build libraries that power the internet, not just Meducation!

        .span3
