.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Ruby on Rails Developer

.container
    .row-fluid
        .span9
            .headline
                %h3 We are Hiring a Ruby on Rails Developer
            %p We are building an innovative social education platform that will be used by milions of medics. It is technologically centred around Rails and Angular. 
            %p Meducation is currently a single large Ruby on Rails application that we are breaking into an API centred around a service orientated architecture, which will power an single page javascript application. We are looking for an experienced Rails developer to help with this process and build our application as it develops. We believe in using the right technology for the right circumstances and so the right person for this role will enjoy working with a variety of languages and frameworks.
            =jobs_startup_blurb

            %h3 What specific skills are we looking for?
            %p If you're right for this role, you will: 
            %ul
                %li Have 4+ years of development experience (either professionally or in demonstratable personal projects)
                %li Have 2+ years working with Ruby on Rails and the associated stack (e.g. SQL, JS, AWS)
                %li Have excellent development skills 
                %li Enjoy learning new languages and be comfortable switching between technologies
                %li Be able to balance a variety of different projects and tasks
                %li Be highly motivated and be able to take control of your own time and responsibilities
                %li Want to work with a startup and want to learn new skills

            %p It will also help if you have:
            %ul
                %li A computer science (or related) degree
                %li A passion for open source
                %li Worked in an agile team

            =jobs_apply_blurb
        .span3 
            =render "jobs/sidebar"

