.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Ruby on Rails Developer

.container
    .row-fluid
        .span9
            .headline
                %h3 We are Hiring a Ruby on Rails Developer
            %p We are building an innovative social education platform that will be used by milions of medics.
            %p Meducation is currently a large Ruby on Rails application, which we are breaking into an service-orientated architecture. Rails will remain at the centre of Meducation, but will supported by services in a variety of other technologies. We are looking for an experienced Ruby on Rails developer to help with break this single application into multiple services, and to continue to build new software in Rails. Proven Rails skills are important for this role as we need someone who can hit the ground running, but we are also looking for someone who is comfortable learning other technologies so they can get muck in across the stack.
            =jobs_startup_blurb

            %h3 What specific skills are we looking for?
            %p If you're right for this role, you will: 
            %ul
                %li Have 3+ years working with Ruby on Rails (either professionally or in demonstratable personal projects)
                %li Have excellent Ruby on Rails knowledge and skills 
                %li Be able to balance a variety of different projects and tasks
                %li Be highly motivated and be able to take control of your own time and responsibilities
                %li Want to work with a startup and want to learn new skills

            %p It will also help if you have:
            %ul
                %li A computer science (or related) degree
                %li A passion for open source
                %li Worked in an agile team

            =jobs_apply_blurb
        .span3 
            =render "jobs/sidebar"

