.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Job Opportunities
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li
                =link_to "Jobs", jobs_path
                %span.divider /
            %li.active Web Designer

.container
    .row-fluid
        .span9
            .headline
                %h3 We are Hiring a Web Designer
            %p We are building an innovative social education platform that will be used by milions of medics.
            %p Meducation needs to be beautiful and easy to use - currently it is neither. We are looking for a talented web designer to come and change this. The right candidate will have a strong focus on clean user-centric designs and enjoy crafting experiences that are powerful but simple to use.
            %p You will have a high degree of creative control and be able to stamp your own personality on the feel of Meducation. The right candidate needs to be able to work in a quick iterative manner, quickly piecing together basic designs and expanding and improving them over time.
            =jobs_startup_blurb

            %h3 What specific skills are we looking for?
            %p If you're right for this role, you will: 
            %ul
                %li Have a talent for creating beautiful web-based interfaces
                %li Be passionate about simple and clean UX
                %li Be proficient with the Adobe Creative Suite (Photoshop/Illustrator/InDesign)
                %li Be proficient in your favourite wireframing tools
                %li Have a good understanding of HTML/CSS along with other web technologies (Javascript, etc)
                %li Be able to balance a variety of different projects and tasks
                %li Be highly motivated and be able to take control of your own time and responsibilities
                %li Want to work with a startup and want to learn new skills

            %p It will also help if you have:
            %ul
                %li Strong graphic design skills
                %li The ability to code all your designs in HTML5/CSS3
                %li Experience with grid-based CSS frameworks (e.g. Foundation, Bootstrap, 960 grid)
                %li Experience in iterating a design over time
                %li Worked in an agile team

            =jobs_apply_blurb
        .span3 
            =render "jobs/sidebar"



