.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left About Meducation
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active About Us

.container
    .headline
        %h3 What is Meducation?
    .row-fluid
        .span6
            %p Meducation is a social network with a strong educational focus. We connect medics in a similar way to LinkedIn, plus we allow them to talk and discuss their progress through their careers. As they research new ideas, have questions they need answering, or knowledge they want to share, they can use Meducation to talk to their peers. 
            %p Over 30,000 medics have joined Meducation, including 33% of UK medical students.
            %p.margin-bottom-20
                %a.btn-u.hover-effect{href: "https://www.meducation.net"} Visit Meducation »

            .headline
                %h3 How has it developed?
            .row-fluid
                .span1.about-date 2008
                %p.span11 Meducation started when Alastair, a medical student at Bristol, felt there was a lack of support among his peers, and wanted to be able to connect and share his work with other medical students throughout the country. He chatted to his friend Jeremy and together they made the first version of Meducation.
            .row-fluid
                .span1.about-date 2009
                %p.span11 The virst version of Meducation launches in Bristol and Birmingham as a closed beta.
            .row-fluid
                .span1.about-date 2010
                %p.span11 After gaining great traction in Bristol and Birmingham, Alastair and Jeremy realised there was a real opportunity to connect not only students but also medics of all types and stages. They rebuild the site and launched a national beta.
            .row-fluid
                .span1.about-date 2011
                %p.span11 Meducation started becoming a valuable resource for UK medical students, and so Alastair and Jeremy put their careers on hold and started working on it full-time. They built a team of over 30 university reps and worked with Elsevier, MPS and Podmedics in early partnerships
            .row-fluid
                .span1.about-date 2012
                %p.span11 Meducation publically launched in September 2012. It saw 10% weekly growth in new and returning numbers for the whole academic year. 
            .row-fluid
                .span1.about-date Today
                %p.span11 Meducation is now raising its first funding round to expanding it's team in order to reach out to medics all over the world.
        .span6
            =image_tag "office.jpg"
            %blockquote.padding-top-10
                %p Two of our authors (Dr Rachel Saunders and Dr Laura Wilkinson) creating Premium content with Alastair and Jeremy in August 2012.

.container
    .row-fluid
        .headline
            %h3 The Team
        %ul.thumbnails.team
            %li.span3
                .thumbnail-style
                    .thumbnail-img
                        .overflow-hidden
                            =image_tag("al.jpg")
                    %h3
                        %a.hover-effect{href: "#"} Dr Alastair Buick
                        %small Co-founder &amp; CEO
                    %p Alastair is a doctor and passionate educator. He manages the business, commercial, and medical sides of Meducation. In his free time he teaches sailing to disadvantaged children.
            %li.span3
                .thumbnail-style
                    .thumbnail-img
                        .overflow-hidden
                            =image_tag("jeremy.jpg")
                    %h3
                        %a.hover-effect{href: "#"} Jeremy Walker
                        %small Co-founder &amp; CTO
                    %p Jeremy is a software developer with a passion for open source. He manages the product and technical sides of Meducation. In his free time he climbs and eats pie.
            %li.span3
                .thumbnail-style
                    .thumbnail-img
                        .overflow-hidden
                            =image_tag("ray.png")
                    %h3
                        %a.hover-effect{href: "#"} Mr Raymond Buick
                        %small Medical Director
                    %p Raymond is a retired paediatric surgeon and experienced medical teacher. He manages our team of Premium authors.
            %li.span3
                .thumbnail-style
                    .thumbnail-img
                        .overflow-hidden
                            =image_tag("rob_styles.jpg")
                    %h3
                        %a.hover-effect{href: "#"} Rob Styles
                        %small Senior Software Developer
                    %p Rob is an accomplished technical leader with extensive and varied experience. He helps companies build systems that delight their customers, scale to meet high profile demand and run at costs that make them profitable.
