.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left About Meducation
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active About Us

.container
    .headline
        %h3 What is Meducation?
    .row-fluid
        .span6
            %p Meducation is a social network with a strong educational focus. We connect medics in a similar way to LinkedIn, plus we allow them to talk and discuss their progress through their careers. As they research new ideas, have questions they need answering, or knowledge they want to share, they can use Meducation to talk to their peers. 
            %p Over 30,000 medics have joined Meducation, including 33% of UK medical students.
            %p.margin-bottom-20
                %a.btn-u.hover-effect{href: "https://www.meducation.net"} Visit Meducation »

            .headline
                %h3 Our Journey
            .row-fluid
                .span1.about-date 2008
                %p.span11 Meducation started when Alastair, a medical student at Bristol, felt there was a lack of support among his peers, and wanted to be able to connect and share his work with other medical students throughout the country. He chatted to his friend Jeremy and together they made the first version of Meducation.
            .row-fluid
                .span1.about-date 2009
                %p.span11 The first version of Meducation launches in Bristol and Birmingham as a closed beta.
            .row-fluid
                .span1.about-date 2010
                %p.span11 After gaining great traction in Bristol and Birmingham, Alastair and Jeremy realised there was a real opportunity to connect not only students but also medics of all types and stages. They rebuild the site and launched a national beta.
            .row-fluid
                .span1.about-date 2011
                %p.span11 Meducation started becoming a valuable resource for UK medical students, and so Alastair and Jeremy put their careers on hold and started working on it full-time. They built a team of over 30 university reps and worked with Elsevier, MPS and Podmedics in early partnerships
            .row-fluid
                .span1.about-date 2012
                %p.span11 Meducation publicly launched in September 2012. It saw 10% weekly growth in new and returning numbers for the whole academic year. 
            .row-fluid
                .span1.about-date Today
                %p.span11 Meducation is now raising its first funding round and hiring a team, to expanding it's team in order to reach out to medics all over the world.
        .span6
            =image_tag "office.jpg"
            %blockquote.padding-top-10
                %p Two of our authors (Dr Rachel Saunders and Dr Laura Wilkinson) creating Premium content with Alastair and Jeremy in August 2012.

.container#team
    .row-fluid
        .span9
            .headline
                %h3 The Team
            %ul.thumbnails.team
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("al.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Dr Alastair Buick
                            %small Co-founder &amp; CEO
                        %p Alastair is a doctor and educator. He manages the business, commercial, and medical sides of Meducation. In his free time he teaches sailing to disadvantaged children.
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("jeremy.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Jeremy Walker
                            %small Co-founder &amp; CTO
                        %p Jeremy is a software developer with a passion for open source. He manages the product and technical sides of Meducation. In his free time he climbs and eats pie.
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("ray.png")
                        %h3
                            %a.hover-effect{href: "#"} Mr Raymond Buick
                            %small Medical Director
                        %p Raymond is a retired paediatric surgeon and experienced medical teacher. He manages our team of Premium authors.
            %ul.thumbnails.team
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("taiyab.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Taiyab Raja
                            %small Designer
                        %p Taiyab is a UI/UX designer with a keen interest in crafting unique web experiences with a focus on usability and user satisfaction, through a holistic approach.                        
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("nicole_chalmers.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Nicole Chalmers
                            %small Community Manager
                        %p Nicole's experience lies in marketing and IT project management. Nicole focuses on growing and supporting the Meducation community. Nicole likes Bikram yoga and lakes.
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("helena_kazi.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Helena Kazi
                            %small Content Manager
                        %p Helena is passionate about medical content, education and publishing. She's a social entrepeneur and has a strong scientific background. In her spare time she drinks lots of tea.
            %ul.thumbnails.team
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("rob_styles.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Rob Styles
                            %small Software Developer
                        %p Rob has extensive and varied experience in building systems that delight users, scale to meet high profile demand and run at costs that make them profitable.
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("ben_paddock.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Ben Paddock
                            %small Client Side Developer
                        %p Ben is a software developer with a keen interest in the web and specifically the client side.  He has a varied experience of many domains.  Outside of work you will find him on his bike. 
                %li.span4
                    .thumbnail-style
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("malcolm_landon.jpg")
                        %h3
                            %a.hover-effect{href: "#"} Malcolm Landon
                            %small Software Developer
                        %p Malcolm is a passionate software engineer with experience of developing scalable, distributed systems, working in agile, devops teams. In his free time he's a keen amateur photographer. 
        .span3
            =render "layouts/blog_posts"
