.row-fluid.breadcrumbs.margin-bottom-40
    .container
        %h1.pull-left About Us
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active About Us
