%section
    .container
        %h2 History of Meducation
        .row
            .span4
                Some stuff
            .span4
                Some other stuff
            .span4
                The best stuff

