.slider-inner
    #da-slider.da-slider
        .da-slide
            %h2
                %i WE ARE REVOLUTIONISING
                %br
                %i MEDICAL EDUCATION
            %p 
                %i Bringing medical professionals, their
                %br
                %i knowledge and their resources together
                %br
                %i into one digital space.

            .da-img
                =image_tag "index-screenshots.png"

        .da-slide
            %h2
                %i WE'RE RAISING £350K
                %br
                %i INVESTMENT TO EXPAND
            %p 
                %i Watch this video to learn about
                %br
                %i our vision and our business plan.
            .da-img.span6
                .span6
                    <iframe src="http://player.vimeo.com/video/71727900?title=0&amp;byline=0&amp;portrait=0" width="100%" height="320" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

.row-fluid.purchase.margin-bottom-20
    .container
        .span8
            %span We Are Looking For Top Talent
            %p We are revolutionising the way people learn medicine, and saving lives in the process. If this excites you, come and work for us! We're looking for smart, talented, passionate people who fit into our team. 
        %a.btn-buy.hover-effect.pull-right{href: jobs_path} View Opportunities »

.container
    .row-fluid
        .span9
            .headline
                %h3 Our Vision
            %p We believe the world would be better if medics were better connected and had better access to educational resources. When people talk, things happen. By connecting doctors, nurses, physios from all over the world, and encouraging them to share their knowledge and research with each other, medicine will develop at a faster rate, and the quality of life throughout the world will improve.
            %p= link_to "Learn more about our vision »", vision_path, class: 'btn-u'
            %blockquote.hero
                %p We are passionate about making a difference to the lives of medical professionals, and subsequently a difference to the lives of everyone in the world. We want to see medicine improve and develop more quickly and believe collaberation and education are the keys to this.
                %small CTO, Jeremy Walker
        .span3.margin-bottom-30= render "layouts/blog_posts"
.container
    .headline
        %h3 How are we achieving our vision?
    .row-fluid.service-alternative
        .span4
            .service.clearfix
                %i.icon-user-md
                .desc
                    %h4 Building a Community
                    %p We are connecting medics from all around the world in a professional educational setting where they can learn medicine better, and share their knowledge with each other.

        .span4
            .service.clearfix
                %i.icon-book
                .desc
                    %h4 Digitalising Publishers
                    %p We are creating a single marketplace for digital medical publications and building exciting publishing technology that's focused on the student's needs.
        
        .span4
            .service.clearfix
                %i.icon-ambulance
                .desc
                    %h4 Saving Lives
                    %p Better doctors mean better medicine, which means better healthcare and saved lives. We're really passionate about making a difference in the world, especially in the poorest countries.
    %hr
    = link_to "Visit Meducation »", "https://www.meducation.net", class: 'btn-u btn-u-large hover-effect pull-right'
    %p All of this is happening at Meducation, where over 30,000 medics use us to improve their knowledge and learning experience. If you're medical, come and join the community!
        
-#
    .container
        .row-fluid
            .span3
                .headline
                    %h3 Twitter Activity

                <a class="twitter-timeline" href="https://twitter.com/Meducation" data-widget-id="364905287938895872">Tweets by @Meducation</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-#
    .container
        .row-fluid
            .headline
                %h3 Show Me Some Examples
            %ul.thumbnails
                %li.span3
                    .thumbnail-style.thumbnail-kenburn
                        .thumbnail-img
                            .overflow-hidden
                                =image_tag("screenshot_exam_room.png")
                                %a.btn-more.hover-effect{href: "#"} read more +
                        %h3
                            %a.hover-effect{href: "#"} Exam Room
                        %p The Meducation exam room helps medics test themselves as they learn and revise, simulating the exams they must sit to progress.


:javascript
    jQuery(document).ready(function() {
        Index.initParallaxSlider();
    });
