.slider-inner
    #da-slider.da-slider
        .da-slide
            %h2
                %i WE ARE REVOLUTIONISING
                %br
                %i MEDICAL EDUCATION
            %p 
                %i Bringing medical professionals, their
                %br
                %i knowledge and their resources together
                %br
                %i into one digital space.

            .da-img
                =image_tag "index-screenshots.png"
 
.row-fluid.purchase.margin-bottom-30
    .container
        .span8
            %span We're looking for top talent
            %p We are revolutionising the way people learn medicine, and saving lives in the process. If this excites you, come and work for us! We're looking for smart, talented, passionate people who fit into our team. 


        %a.btn-buy.hover-effect.pull-right{href: jobs_path} View Opportunities »
%section
    .container
        %h2 Revolutionising Medical Education
        .row
            .span4
                Bring Medical Professionals
            .span4
                A other stuff
            .span4
                The best stuff
