%section
    .container
        %h2 Revolutionising Medical Education
        .row
            .span4
                Some stuff
            .span4
                Some other stuff
            .span4
                The best stuff
