.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Investors
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active Investors

.container
    .headline
        %h3 We are Raising a £350k Seed Round
    .row-fluid
        .span6
            %p We are looking for investors who want to make a difference to the world, and back a potentially huge business opportunity, to help accelerate Meducation as part of our £350k seed round.
            %p We have compiled a variety of documents on all areas of this investment.
            %ol
                %li 
                    %a{href:"http://vision.meducation.net"} Introduction 
                %li 
                    %a{href:"http://vision.meducation.net/cash_flow_positive"} The Route to Cash-Flow Positive
                %li 
                    %a{href:"http://vision.meducation.net/executive_summary"} Executive Summary
                %li 
                    %a{href:"http://vision.meducation.net/in_depth"} Business plan
                %li 
                    %a{href:"http://vision.meducation.net/content_plan"} Content Plan
                %li 
                    %a{href:"http://vision.meducation.net/Deck.pptx"} Meducation Deck
                %li 
                    %a{href:"http://vision.meducation.net/risks"} Risk Analysis
                %li 
                    %a{href:"http://vision.meducation.net/faq"} FAQs
                %li 
                    %a{href:"http://docs.meducation.net/tsb"} Our TSB Application

            %hr
            %p If this sounds like an opportunity that you'd be interested in, please get in touch.
            %a.btn-u.btn-u-large.hover-effect{href: "mailto:al@meducation.net"} Get In Touch »

        .span6
            .flex-video.widescreen
                <iframe src="http://player.vimeo.com/video/71727900?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
