%section
    .container
        %h2 Jobs
        %h3 We're Hiring!
        %p We're at a hugely exciting point in our journey. After two years of building Meducation with just the two founder, we're finally at a point where we can hire people!
        %p We are looking for seven talented individuals who want to revolutionse medical education with us. 
        %p The whole ethos of our vision is around people, and this is represented in the way we want to develop our company. We want to build a team who trust and respect each other, who enjoy each others' company and who love working together. We believe that a happy team is a productive team and we know that people are individuals and work in their own ways. 
        %p If you work with us, you will: 
        %ul
            %li 
                %em Be in control of your time. 
                We don't have office hours because we know that different people work best at different times. Rise with the sun, or rise with the sunset? It makes no difference to us!
            %li 
                %em Be in control of where you work. 
                Office, home, coffee-shop? It's up to you. We hope you'll want to hang out with us in the office reguarly, but we dread the idea of having a fixed place to work from each day, so we would never want to inflict that on you!
            %li 
                %em Be in control of your holiday. 
                Want a couple of weeks off? Great. Want to work for 14days straight because you're absolutely engrossed in what you're making. Awesome (Although you'll probably need a week off afterwards to recover)! We don't have holiday allowences - simply take a break when you want one. 
            %li 
                %em Be paid well, and without performance awards.
                Money's important and we want you to feel like you are paid what you deserve. We think performance-related pay is a patronising way of trying to force people to work harder and just increases stress. If you love what you're working on, and love the team you're working in, you're going to just do your best each day, and that's all we'll ever ask.

        .row
            .span4
                Some stuff
            .span4
                Some other stuff
            .span4
                The best stuff
