.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Our Vision
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active Our Vision

.container
    .headline
        %h3 What are we trying to achieve?
    .row-fluid
        .span6
            %blockquote.hero.margin-top-0
                %p It is a shameful fact that people are still dying because their healthcare workers don’t have access to the information they need.
                %small Virginia Barbour, Editor-in-Chief, PLoS Medicine
            %p We believe the world would be better if medics were better connected and had better access to educational resources. When people talk, things happen. By connecting doctors, nurses, physios from all over the world, and encouraging them to share their knowledge and research with each other, medicine will develop at a faster rate, and the quality of life throughout the world will improve.
            %p We also think that the textbooks and journals medics use need to be available in much more innovative attractive digital forms than they currently are. We are working with publishers to do exciting things with their content and deliver it in a way that is useful and relevant to a 21st century medic.

            .headline
                %h3 How are we fulfilling this?
            %p We are creating Meducation - a social network with a strong educational focus. We connect medics in a similar way to LinkedIn, plus we allow them to talk and discuss their progress through their careers. As they research new ideas, have questions they need answering, or knowledge they want to share, they can use Meducation to talk to their peers.
            %p.margin-bottom-20
                %a.btn-u.hover-effect{href: "https://www.meducation.net"} Visit Meducation »
        .span6
            =image_tag "african_doctor.jpg"
            %blockquote.padding-top-10
                %p A doctor running a clinic in Uganda. We want to empower medics throughout the world to deliver the highest quality of medicine.
