=render layout: "blog/layout" do
    .blog.margin-bottom-30
        %h3 New Company Website
        %ul.unstyled.inline.blog-info
            %li
                %i.icon-calendar 
                August 8, 2013
            %li
                %i.icon-pencil 
                    Jeremy Walker
            %li
                %i.icon-tags
                %a{href:"#"} Team
        .blog-img
            =image_tag "new_website_blog_header.png"
        %p Meducation has always been lacking a company presence that clearly outlines our vision, team, hosts a comapny blog, and outlines job opportunities. Today we're rectifying that with the creation of our company website.
        %p Over the next few weeks we'll be announcing the completion of our seed funding round, growing our team from two to eight, and letting you in on a few of the great things we have lined up for the rest of 2013 and beyond. If you'd like to get involved in Meducation, please #{link_to "drop me an email", "mailto: jeremy@meducation.net"} and we'll chat!
        =yield

