=render layout: "blog/layout" do
    .blog.margin-bottom-30
        %h3 Rob Styles Joins Meducation
        %ul.unstyled.inline.blog-info
            %li
                %i.icon-calendar 
                August 8, 2013
            %li
                %i.icon-pencil 
                    Jeremy Walker
            %li
                %i.icon-tags
                %a{href:"#"} Team
        .blog-img
            =image_tag "rob_styles_blog_header.jpg"
        %p Over the last five years, Al and I have invested a significant amount of our time and energy into Meducation. We have patiently developed it from a fun side project into something that has the power to change the world. While doing so we have always been careful to protect its vision and ethos, the core of what we do. We are now at an incredibly exciting time in our journey where for the first time we are able to bring a team on board to develop Meducation beyond where we could take it alone. 
        %p Saying that, over the last few weeks my excitement has been tinged with a degree of nervousness, as I know that the people we hire will make or break this vision we have worked so hard to protect.  I am therefore both thrilled and relieved to introduce our first hire - someone I believe will add a real depth to Meducation and someone whom both Al and I am happy to entrust our vision to - Rob Styles.

        =yield
