.blog.margin-bottom-30
    %h3 
        =link_to "Taiyab Raja Joins Meducation", taiyab_raja_blog_post_path
    %ul.unstyled.inline.blog-info
        %li
            %i.icon-calendar 
            August 30, 2013
        %li
            %i.icon-pencil 
            Jeremy Walker
        %li
            %i.icon-tags
            %a{href:"#"} Team
    .blog-img
        =image_tag "taiyab_raja_blog_header.jpg"
    %p The role that Al and I have probably been most excitied about filling is that of the designer. Our lack of ability to transfer our vision of a beautiful, powerful user interface into something that looks and feels how we want it to, has been an incredible frustration for us since we started Meducation. We have both battled on learning as much about good design as we can, and taken Meducation to a place that has served its members adequately, but we've never been able to get close to where we want the Meducation experience to be.
    %p We are therefore incredibly excited to announce that we have found the person who we believe will turn our wild ideas into reality. We couldn't be more pleased to introduce Meducation's second employee - Taiyab Raja.

    =yield
