.row-fluid.breadcrumbs.margin-bottom-20
    .container
        %h1.pull-left Latest Posts
        %ul.pull-right.breadcrumb
            %li
                =link_to "Home", root_path
                %span.divider /
            %li.active Blog

=render layout: "blog/layout" do
    .blog.margin-bottom-30
        %h3 Rob Styles Joins Meducation
        %ul.unstyled.inline.blog-info
            %li
                %i.icon-calendar 
                August 8, 2013
            %li
                %i.icon-pencil 
                    Jeremy Walker
            %li
                %i.icon-tags
                %a{href:"#"} Team
        .blog-img
            =image_tag "rob_styles_blog_header.jpg"
        %p For five years, Al and I have held the vision of Meducation closely in our hearts, watching it develop from a fun side-project into something that has the power to change the world. Meducation is a bit like a child for us and we've invested our lives into it as carefully tried to nurture it through its early stages. We're now at a time that's both exciting and scary in our journey, where for the first time we will give away some of that control to other people who join our team. 
        %p Today we're proud and excited to announce the first person we are entrusting that vision to: Rob Styles - our Employee #1.
        %p 
            %a.btn-u.btn-u-small{href: rob_styles_blog_path} Read More » 
