/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ../../../vendor/assets/stylesheets/bootstrap.min.css
 *= require ../../../vendor/assets/stylesheets/style.css
 *= require ../../../vendor/assets/stylesheets/header1.css
 *= require ../../../vendor/assets/stylesheets/bootstrap-responsive.min.css
 *= require ../../../vendor/assets/stylesheets/style_responsive.css
 *= require ../../../vendor/assets/stylesheets/flexslider.css
 *= require ../../../vendor/assets/stylesheets/parallax-slider.css
 *= require ../../../vendor/assets/stylesheets/blue.css
 *= require ../../../vendor/assets/stylesheets/header1-blue.css
 *= require_self
 *= require_tree .
 */

body {
    font-size:14px;
}

.margin-top-0 { margin-top:0px; }
.margin-top-20 { margin-top:20px; }
.padding-top-10 { padding-top:10px; }

p a {
    text-decoration:underline;
}

.servive-block .span4 {
    padding:20px 20px;
}

.blog-page ul, .blog-page .blog-info {
    padding-top: 5px !important
}

.blog { 
    h3 a {
        color:#3498db
    }
    p a {
        text-decoration:underline;
    }
}

.header {
    border-bottom:0px; 
    .logo {
        top:-3px;
        img {
            height:33px;
        }
    }
}

.purchase {
    background:#ddd;
}

.service {
    i {
        padding:0px;
        width:14%;
        font-size:40px;
    }
}

.da-slider {
    background-image: image-url('index-bg.jpg');

    .da-slide {
        h2 i {
            background-image: image-url('bg-heading-blue.png')
        }
        p i {
            background-image: image-url('bg-text.png')
        }
    }
    .da-dots span{
        background-image: image-url('bg-text.png')
    }
    .da-arrows span{
        background-image: image-url('arrows.png')
    }
}

.collapse li.dropdown-toggle:hover > ul.dropdown-menu {
    display: block;    
}

.about-date {
    color:#aaa;
}
