.posts
    .headline
        %h3 Recent Blog Entries

    -@blog_post_summaries.each do |blog_post|
        %dl.dl-horizontal
            %dt= link_to image_tag(blog_post[:image]), blog_post[:url]
            %dd
                %p= link_to blog_post[:blurb], blog_post[:url]
