.posts
    .headline
        %h3 Recent Blog Entries

    -@blog_post_summaries.each do |blog_post|
        %dl.dl-horizontal
            %dt= link_to image_tag(blog_post.thumb_image), blog_post
            %dd
                %p= link_to blog_post.summary, blog_post
