.navbar
    .navbar-inner
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        .nav-collapse.collapse
            %ul.nav
                %li{class: menu_item_class(:home)}
                    %a{href:root_path} Home
                %li{class: menu_item_class(:about)}
                    %a{href: about_path} About
                %li{class: menu_item_class(:vision)}
                    %a{href:vision_path} Vision
                %li{class: menu_item_class(:blog)}
                    %a{href:blog_path} Blog
                %li{class: menu_item_class(:jobs)}
                    %a{href:jobs_path} Jobs
                -#
                    %li.dropdown-toggle{class: menu_item_class(:jobs)}
                        %a{href:jobs_path, "data-hover" => "dropdown"} 
                            Jobs
                            %b.caret
                        %ul.dropdown-menu
                            %li
                                =link_to "Designer", designer_job_path
                            %li
                                =link_to "Front End Developer", frontend_developer_job_path
                            %li
                                =link_to "Back End Developer", backend_developer_job_path
                            %li
                                =link_to "Community Manager", community_manager_job_path
                            %li
                                =link_to "Content Manager", content_manager_job_path
                            %li
                                =link_to "Marketer", marketer_job_path
                        %b.caret-out
                /%li{class: menu_item_class(:investors)}
                /    %a{href:investors_path} Investors
