.navbar
    .navbar-inner
        %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        .nav-collapse.collapse
            %ul.nav
                %li{class: menu_item_class(:home)}
                    %a{href:root_path} Home
                %li{class: menu_item_class(:about)}
                    %a{href: about_path} About
                %li{class: menu_item_class(:vision)}
                    %a{href:vision_path} Vision
                /%li{class: menu_item_class(:jobs)}
                /    %a{href:jobs_path} Jobs
                %li.dropdown-toggle{class: menu_item_class(:jobs)}
                    %a{href:jobs_path, "data-hover" => "dropdown"} 
                        Jobs
                        %b.caret
                    %ul.dropdown-menu
                        -@jobs.each do |job, url|
                            %li= link_to job, url
                    %b.caret-out
                %li{class: menu_item_class(:blog)}
                    %a{href:blog_path} Blog
                /%li{class: menu_item_class(:investors)}
                /    %a{href:investors_path} Investors
